<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
  <key>UIAppFonts</key>
  <array>
    <string>Gotham-Black.otf</string>
    <string>Gotham-BlackIta.otf</string>
    <string>Gotham-Bold.otf</string>
    <string>Gotham-BoldIta.otf</string>
    <string>Gotham-Book.otf</string>
    <string>Gotham-BookIta.otf</string>
    <string>Gotham-Light.otf</string>
    <string>Gotham-LightIta.otf</string>
    <string>Gotham-Medium.otf</string>
    <string>Gotham-MediumIta.otf</string>
    <string>Gotham-Thin.otf</string>
    <string>Gotham-ThinIta.otf</string>
    <string>Gotham-ThinIta.otf</string>
    <string>Gotham-ThinIta.otf</string>
    <string>Gotham-XLight.otf</string>
    <string>Gotham-XLightIta.otf</string>
  </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleDisplayName</key>
    <string>PPI</string>
    <key>CFBundleIdentifier</key>
    <string>com.companyname.PPI</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleName</key>
    <string>PPI</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
